<h1>All Paradiso students</h1>
<p>The following students are registered:</p>
<table>
  <thead>
    <tr>
      <th>Student</th>
    </tr>
  </thead>
  <tbody>
    <% @Students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.netid %></td>
      <td><%= student.availability %></td>
    </tr>
    <% end %>
  </tbody>
</table>
