<h1>All sections</h1>
<table>
  <thead>
    <tr>
      <th>Section</th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |s| %>
    <tr>
      <td><%= s.teacher %></td>
      <td><%= s.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>
